In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

options = Options()
options.headless = True

import numpy as np
import pandas as pd
import time as time
from time import sleep
import random
from tqdm import tqdm

In [2]:
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.library.parameters import SeasonAll

In [3]:
seasons = ['200{}-0{}'.format(x, x+1) if x != 9 else '200{}-{}'.format(x, x+1) for x in range(6, 10)]
seasons2 = ['20{}-{}'.format(x, x+1) for x in range(10, 21)]

seasons.extend(seasons2)
dates = []
for season in seasons:
    date = []
    for season_type in ['Regular Season', 'Playoffs']:
        games = leaguegamelog.LeagueGameLog(season=season, season_type_all_star=season_type).get_data_frames()[0]
        dates.extend(games['GAME_DATE'].unique())
    sleep(2)

dates[-10:]

['2021-02-22',
 '2021-02-23',
 '2021-02-24',
 '2021-02-25',
 '2021-02-26',
 '2021-02-27',
 '2021-02-28',
 '2021-03-01',
 '2021-03-02',
 '2021-03-03']

In [127]:
current_dates = pd.read_csv('../data/all_moneylines.csv')
current_dates = current_dates['game_date'].unique()

dates_to_add = set(dates) - set(current_dates)

print(len(dates_to_add))
print(list(dates_to_add)[:20])

451
['2017-05-11', '2012-06-12', '2014-06-15', '2013-06-18', '2020-09-02', '2015-05-26', '2013-04-21', '2020-09-25', '2014-04-27', '2016-05-28', '2011-02-12', '2015-04-22', '2017-06-04', '2013-05-11', '2011-04-26', '2014-05-07', '2017-04-19', '2019-04-25', '2012-05-27', '2020-09-15']

In [155]:
# Get Moneylines

gm_date1 = []
away_teams1 = []
home_teams1 = []
away_scoreboards1 = []
home_scoreboards1 = []
away_moneylines1 = []
home_moneylines1 = []

for date in tqdm(['2021-03-02', '2021-03-03'], desc='progress'):
    web = 'https://www.sportsbookreview.com/betting-odds/nba-basketball/money-line/?date={}'.format(date)
    path = '../chromedriver.exe'
    driver = webdriver.Chrome(path)
    driver.get(web)

    single_row_events = driver.find_elements_by_class_name('eventMarketGridContainer-3QipG')

    num_postponed_events = len(driver.find_elements_by_class_name('eventStatus-3EHqw'))

    num_listed_events = len(single_row_events)
    cutoff = num_listed_events - num_postponed_events

    for event in single_row_events[:cutoff]:

        away_team = event.find_elements_by_class_name('participantBox-3ar9Y')[0].text
        home_team = event.find_elements_by_class_name('participantBox-3ar9Y')[1].text
        away_teams1.append(away_team)
        home_teams1.append(home_team)
        gm_date1.append(date)

#         scoreboard = event.find_elements_by_class_name('scoreboard-1TXQV')

#         home_score = []
#         away_score = []

#         for score in scoreboard:
#             quarters = score.find_elements_by_class_name('scoreboardColumn-2OtpR')
#             for i in range(len(quarters)):
#                 scores = quarters[i].text.split('\n')
#                 away_score.append(scores[0])
#                 home_score.append(scores[1])
#             away_scoreboards1.append(away_score)
#             home_scoreboards1.append(home_score)

        mls = event.find_elements_by_class_name('pointer-2j4Dk')
        away_lines = []
        home_lines = []
        for i in range(len(mls)):    
            if i % 2 == 0:
                away_lines.append(mls[i].text)
            else:
                home_lines.append(mls[i].text)
        away_moneylines1.append(away_lines)
        home_moneylines1.append(home_lines)

    driver.quit()
    sleep(random.randint(1,2))

progress: 100%|██████████████████████████████████████████████████████████████████████████| 2/2 [00:23<00:00, 11.82s/it]

In [159]:
print(len(away_teams1))
print(len(home_teams1))
print(len(gm_date1))
print(len(away_scoreboards1))
print(len(home_scoreboards1))
print(len(away_moneylines1))
print(len(home_moneylines1))

df1 = pd.read_csv('../data/all_moneylines_sbr.csv')
# df1
df2 = pd.DataFrame({'away_team':away_teams1,
                  'home_team':home_teams1,
                   'game_date':gm_date1,
                  'away_moneyline':away_moneylines1,
                  'home_moneyline':home_moneylines1})


updated_mls = pd.concat([df1, df2])
updated_mls = updated_mls.drop_duplicates(subset=['away_team', 'home_team', 'game_date'], keep='last')
updated_mls.tail(20)

updated_mls.to_csv("../data/all_moneylines_sbr.csv", index=False)

16
16
16
0
0
16
16

In [104]:
df2

,away_team,home_team,game_date,away_moneyline,home_moneyline
0,L.A. Lakers,Charlotte,2011-02-13,"[-225, -220, -215, -]","[+185, +180, +185, -]"
1,Sacramento,Oklahoma City,2011-02-13,"[+375, +350, +400, -]","[-550, -500, -500, -]"
2,Miami,Indiana,2011-02-13,"[-240, -230, -245, -]","[+200, +190, +205, -]"
3,Charlotte,Chicago,2011-02-13,"[+400, +400, +450, -]","[-600, -600, -550, -]"
4,Atlanta,Detroit,2011-02-13,"[-, -175, -190, -]","[-, +155, +160, -]"
...,...,...,...,...,...
23853,Atlanta,Miami,2021-02-28,"[+120, +120, +125, +120]","[-140, -140, -145, -140]"
23854,Memphis,Houston,2021-02-28,"[-165, -170, -163, -165]","[+145, +150, +142, +145]"
23855,Golden State,L.A. Lakers,2021-02-28,"[-220, +125, +122, +125]","[+160, -145, -143, -145]"
23856,Phoenix,Minnesota,2021-02-28,"[-600, -530, -594, -560]","[+400, +425, +443, +435]"
23857,Charlotte,Sacramento,2021-02-28,"[+135, +145, +144, +145]","[-155, -165, -165, -165]"

In [89]:
df1 = df1.drop(columns=['away_scoreboard', 'home_scoreboard'])

In [91]:
all_moneylines = pd.concat([df1, df2])
all_moneylines.to_csv('../data/all_moneylines.csv', index=False)

In [94]:
set(dates) - set(all_moneylines['game_date'])

{'2011-02-12', '2011-02-15', '2011-02-16'}

In [98]:
dates[0]

'2010-10-26'

In [133]:
# Get Spreads

current_dates = pd.read_csv('../data/all_spreads_sbr.csv')
current_dates = current_dates['game_date'].unique()

dates_to_add = set(dates) - set(current_dates)

print("adding:", len(dates_to_add), "dates")

gm_date = []
away_teams = []
home_teams = []
away_scoreboards = []
home_scoreboards = []
away_spreads = []
home_spreads = []

for date in tqdm(dates_to_add, desc='progress'):
    web = 'https://www.sportsbookreview.com/betting-odds/nba-basketball/?date={}'.format(date)
    path = '../chromedriver.exe'
    driver = webdriver.Chrome(path)
    driver.get(web)

    single_row_events = driver.find_elements_by_class_name('eventMarketGridContainer-3QipG')

    num_postponed_events = len(driver.find_elements_by_class_name('eventStatus-3EHqw'))

    num_listed_events = len(single_row_events)
    cutoff = num_listed_events - num_postponed_events

    for event in single_row_events[:cutoff]:

        away_team = event.find_elements_by_class_name('participantBox-3ar9Y')[0].text
        home_team = event.find_elements_by_class_name('participantBox-3ar9Y')[1].text
        away_teams.append(away_team)
        home_teams.append(home_team)
        gm_date.append(date)


        scoreboard = event.find_elements_by_class_name('scoreboard-1TXQV')

        home_score = []
        away_score = []

        for score in scoreboard:
            quarters = score.find_elements_by_class_name('scoreboardColumn-2OtpR')
            for i in range(len(quarters)):
                scores = quarters[i].text.split('\n')
                away_score.append(scores[0])
                home_score.append(scores[1])
            away_scoreboards.append(away_score)
            home_scoreboards.append(home_score)
            
            
        if len(away_scoreboards) != len(away_teams):
            num_to_add = len(away_teams) - len(away_scoreboards)
            for i in range(num_to_add):
                away_scoreboards.append([])
                home_scoreboards.append([])
            
        
        spreads = event.find_elements_by_class_name('pointer-2j4Dk')
        away_lines = []
        home_lines = []
        for i in range(len(spreads)):    
            if i % 2 == 0:
                away_lines.append(spreads[i].text)
            else:
                home_lines.append(spreads[i].text)
        away_spreads.append(away_lines)
        home_spreads.append(home_lines)
        
        if len(away_spreads) != len(away_teams):
            num_to_add = len(away_teams) - len(away_spreads)
            for i in range(num_to_add):
                away_scoreboards.append([])
                home_scoreboards.append([])
            
        
    driver.quit()
    sleep(random.randint(1,2))

spread_df = pd.DataFrame({'away_team':away_teams,
                  'home_team':home_teams,
                   'game_date':gm_date,
                  'away_scoreboard':away_scoreboards,
                  'home_scoreboard':home_scoreboards,
                  'away_spreads':away_spreads,
                  'home_spreads':home_spreads})

spread_df

progress:   0%|                                                                                | 0/627 [00:00<?, ?it/s]

adding: 627 dates

progress: 100%|████████████████████████████████████████████████████████████████████| 627/627 [2:27:34<00:00, 14.12s/it]

,away_team,home_team,game_date,away_scoreboard,home_scoreboard,away_moneyline,home_moneyline
0,San Antonio,Houston,2017-05-11,"[31, 30, 26, 27, 114]","[24, 18, 22, 11, 75]","[+9-115, +9-108, +8½-110, +9-105]","[-9-105, -9-112, -8½-110, -9-105]"
1,Atlanta,Boston,2008-05-04,"[16, 10, 17, 22, 65]","[27, 17, 35, 20, 99]","[+14½-105, +15-110, +15-110, -]","[-14½-115, -15-110, -15-110, -]"
2,Utah,L.A. Lakers,2008-05-04,"[24, 17, 31, 26, 98]","[25, 29, 25, 30, 109]","[+8½-110, +8½-105, +8½-110, -]","[-8½-110, -8½-115, -8½-110, -]"
3,L.A. Lakers,Houston,2009-05-10,"[16, 20, 18, 33, 87]","[29, 25, 29, 16, 99]",[],[]
4,Boston,Orlando,2009-05-10,"[25, 23, 31, 16, 95]","[28, 18, 25, 23, 94]","[+5-115, +5½-110, +5½-110, -]","[-5-105, -5½-110, -5½-110, -]"
...,...,...,...,...,...,...,...
1167,Phoenix,San Antonio,2007-05-12,"[30, 23, 19, 29, 101]","[25, 30, 25, 28, 108]","[+4-110, +4½-112, +4-110, -]","[-4-110, -4½-108, -4-110, -]"
1168,Toronto,Orlando,2008-04-28,"[26, 24, 18, 24, 92]","[22, 27, 25, 28, 102]","[+7½-105, +7½-110, +7-110, -]","[-7½-115, -7½-110, -7-110, -]"
1169,Boston,Atlanta,2008-04-28,"[24, 24, 27, 17, 92]","[29, 22, 14, 32, 97]","[-10-105, -9-110, -9-110, -]","[+10-115, +9-110, +9-110, -]"
1170,L.A. Lakers,Denver,2008-04-28,"[32, 32, 15, 28, 107]","[23, 31, 23, 24, 101]","[-5-105, -4-110, -4-110, -]","[+5-115, +4-110, +4-110, -]"
1171,Miami,L.A. Lakers,2020-09-30,"[28, 20, 19, 31, 98]","[31, 34, 28, 23, 116]","[+4½-105, +4½-110, +4½-108, +5-105]","[-4½-115, -4½-110, -4½-108, -5-105]"

In [135]:
spreads_orig = pd.read_csv("../data/all_spreads_sbr.csv")

updated_spreads = pd.concat([spreads_orig, spread_df])

updated_spreads['game_date'] = pd.to_datetime(updated_spreads['game_date'])
updated_spreads.sort_values(['game_date'], inplace=True)

updated_spreads.rename(columns={'away_moneyline':'away_spread',
                               'home_moneyline':'home_spread'}, inplace=True)
updated_spreads

,away_team,home_team,game_date,away_scoreboard,home_scoreboard,away_spread,home_spread
0,Chicago,Miami,2006-10-31,"['22', '37', '21', '28', '108']","['16', '14', '21', '15', '66']","['+4½-110', '-', '+4½-110', '-']","['-4½-110', '-', '-4½-110', '-']"
1129,Phoenix,L.A. Lakers,2006-10-31,"['41', '17', '21', '27', '106']","['26', '27', '34', '27', '114']","['-8½-110', '-', '-8-110', '-']","['+8½-110', '-', '+8-110', '-']"
1128,Chicago,Miami,2006-10-31,"['22', '37', '21', '28', '108']","['16', '14', '21', '15', '66']","['+4½-110', '-', '+4½-110', '-']","['-4½-110', '-', '-4½-110', '-']"
1,Phoenix,L.A. Lakers,2006-10-31,"['41', '17', '21', '27', '106']","['26', '27', '34', '27', '114']","['-8½-110', '-', '-8-110', '-']","['+8½-110', '-', '+8-110', '-']"
3,Chicago,Orlando,2006-11-01,"['20', '25', '25', '24', '94']","['32', '31', '23', '23', '109']","['-2-110', '-', '-1-110', '-']","['+2-110', '-', '+1-110', '-']"
...,...,...,...,...,...,...,...
501,Atlanta,Orlando,2021-03-03,"[27, 15, 36, 37, 115]","[39, 22, 29, 22, 112]","[-3-105, -3-107, -2½-110, -2½-108]","[+3-115, +3-113, +2½-110, +2½-108]"
500,Brooklyn,Houston,2021-03-03,"[30, 37, 34, 31, 132]","[27, 27, 31, 29, 114]","[-10½-115, -10½-110, -11-110, -11-108]","[+10½-105, +10½-110, +11-110, +11-108]"
499,Detroit,Toronto,2021-03-03,"[43, 26, 29, 31, 129]","[37, 23, 20, 25, 105]","[+7½-110, +7½-110, +7½-105, +8-108]","[-7½-110, -7½-110, -7½-115, -8-108]"
506,Golden State,Portland,2021-03-03,"[29, 27, 24, 26, 106]","[28, 27, 27, 26, 108]","[-5½-120, -1-115, -1-115, -1-108]","[+5½-120, +1-105, +1-105, +1-108]"
502,Chicago,New Orleans,2021-03-03,"[26, 38, 32, 32, 128]","[25, 20, 34, 45, 124]","[+6-115, +6-110, +6-110, +6-108]","[-6-105, -6-110, -6-110, -6-108]"

In [138]:
updated_spreads = updated_spreads.drop_duplicates(['away_team','home_team', 'game_date'])

In [139]:
updated_spreads.to_csv("../data/all_spreads_sbr.csv", index=False)

In [114]:
spread_df

,away_team,home_team,game_date,away_scoreboard,home_scoreboard,away_moneyline,home_moneyline
0,Chicago,Miami,2006-10-31,"[22, 37, 21, 28, 108]","[16, 14, 21, 15, 66]","[+4½-110, -, +4½-110, -]","[-4½-110, -, -4½-110, -]"
1,Phoenix,L.A. Lakers,2006-10-31,"[41, 17, 21, 27, 106]","[26, 27, 34, 27, 114]","[-8½-110, -, -8-110, -]","[+8½-110, -, +8-110, -]"
2,Indiana,Charlotte,2006-11-01,"[23, 26, 28, 29, 106]","[27, 23, 23, 26, 99]","[-1-110, -, -1-110, -]","[+1-110, -, +1-110, -]"
3,Chicago,Orlando,2006-11-01,"[20, 25, 25, 24, 94]","[32, 31, 23, 23, 109]","[-2-110, -, -1-110, -]","[+2-110, -, +1-110, -]"
4,Atlanta,Philadelphia,2006-11-01,"[14, 21, 23, 17, 75]","[29, 20, 24, 15, 88]","[+6-115, -, +5½-110, -]","[-6-105, -, -5½-110, -]"
...,...,...,...,...,...,...,...
33579,Atlanta,Miami,2021-03-02,"[23, 21, 19, 31, 94]","[17, 20, 29, 14, 80]","[+2-110, +2½-115, +2½-110, +2-108]","[-2-110, -2½-105, -2½-110, -2-108]"
33580,L.A. Clippers,Boston,2021-03-02,"[32, 31, 26, 23, 112]","[35, 27, 26, 29, 117]","[+8½-120, -5-110, -3-110, -5-108]","[-8½-120, +5-110, +3-110, +5-108]"
33581,New York,San Antonio,2021-03-02,"[23, 24, 21, 25, 93]","[25, 26, 36, 32, 119]","[-2-105, -1½-113, -1½-105, -2-108]","[+2-115, +1½-107, +1½-115, +2-108]"
33582,Denver,Milwaukee,2021-03-02,"[37, 27, 35, 29, 128]","[23, 27, 30, 17, 97]","[+8-110, +8-109, +7½-105, +8-108]","[-8-110, -8-111, -7½-115, -8-108]"
33583,Phoenix,L.A. Lakers,2021-03-02,"[29, 31, 26, 28, 114]","[21, 32, 30, 21, 104]","[-1½-115, -1½-117, -2½-110, -2-108]","[+1½-105, +1½-103, +2½-110, +2-108]"

In [115]:
spread_df.rename(columns={'away_moneyline':'away_spread', 'home_moneyline':'home_spread'})
spread_df.to_csv("../data/all_spreads_sbr.csv", index=False)

In [82]:

gm_date = []
away_teams = []
home_teams = []
away_scoreboards = []
home_scoreboards = []
away_moneylines = []
home_moneylines = []

web = 'https://www.sportsbookreview.com/betting-odds/nba-basketball/money-line/?date={}'.format(date)
path = '../chromedriver.exe'
driver = webdriver.Chrome(path)
driver.get(web)

single_row_events = driver.find_elements_by_class_name('eventMarketGridContainer-3QipG')

num_postponed_events = len(driver.find_elements_by_class_name('eventStatus-3EHqw'))

num_listed_events = len(single_row_events)
cutoff = num_listed_events - num_postponed_events

for event in single_row_events[:cutoff]:

    away_team = event.find_elements_by_class_name('participantBox-3ar9Y')[0].text
    home_team = event.find_elements_by_class_name('participantBox-3ar9Y')[1].text
    away_teams.append(away_team)
    home_teams.append(home_team)
    gm_date.append(date)


    scoreboard = event.find_elements_by_class_name('scoreboard-1TXQV')

    home_score = []
    away_score = []

    for score in scoreboard:
        quarters = score.find_elements_by_class_name('scoreboardColumn-2OtpR')
        for i in range(len(quarters)):
            scores = quarters[i].text.split('\n')
            away_score.append(scores[0])
            home_score.append(scores[1])

        away_scoreboards.append(away_score)
        home_scoreboards.append(home_score)

    mls = event.find_elements_by_class_name('pointer-2j4Dk')
    away_lines = []
    home_lines = []
    for i in range(len(mls)):    
        if i % 2 == 0:
            away_lines.append(mls[i].text)
        else:
            home_lines.append(mls[i].text)
    away_moneylines.append(away_lines)
    home_moneylines.append(home_lines)

    driver.quit()

## Update Betting Data

### Moneylines

In [117]:
current_moneyline_df = pd.read_csv('../data/all_moneylines_sbr.csv')
missing_lines = current_moneyline_df.loc[(current_moneyline_df['away_moneyline'] == '[]') 
                         | (current_moneyline_df['home_moneyline'] == '[]')]

missing_dates = missing_lines['game_date'].unique()

In [118]:
missing_dates

array(['2008-03-01', '2016-01-12', '2016-04-03', '2016-10-29'],
      dtype=object)

In [120]:
# Get Moneylines

gm_date1 = []
away_teams1 = []
home_teams1 = []
away_moneylines1 = []
home_moneylines1 = []

for date in tqdm(missing_dates, desc='progress'):
    web = 'https://www.sportsbookreview.com/betting-odds/nba-basketball/money-line/?date={}'.format(date)
    path = '../chromedriver.exe'
    driver = webdriver.Chrome(path)
    driver.get(web)
    sleep(random.randint(2,3))

    single_row_events = driver.find_elements_by_class_name('eventMarketGridContainer-3QipG')

    num_postponed_events = len(driver.find_elements_by_class_name('eventStatus-3EHqw'))

    num_listed_events = len(single_row_events)
    cutoff = num_listed_events - num_postponed_events

    for event in single_row_events[:cutoff]:

        away_team = event.find_elements_by_class_name('participantBox-3ar9Y')[0].text
        home_team = event.find_elements_by_class_name('participantBox-3ar9Y')[1].text
        away_teams1.append(away_team)
        home_teams1.append(home_team)
        gm_date1.append(date)


        mls = event.find_elements_by_class_name('pointer-2j4Dk')
        away_lines = []
        home_lines = []
        for i in range(len(mls)):    
            if i % 2 == 0:
                away_lines.append(mls[i].text)
            else:
                home_lines.append(mls[i].text)
        away_moneylines1.append(away_lines)
        home_moneylines1.append(home_lines)

    driver.quit()

moneylines_to_add_df = pd.DataFrame({'away_team':away_teams1,
             'home_team':home_teams1,
             'game_date':gm_date1,
             'away_moneyline':away_moneylines1,
             'home_moneyline':home_moneylines1})

moneylines_to_add_df

progress: 100%|██████████| 4/4 [00:48<00:00, 12.05s/it]

,away_team,home_team,game_date,away_moneyline,home_moneyline
0,New York,Orlando,2008-03-01,"[-, -, +650, -]","[-, -, -900, -]"
1,Utah,Memphis,2008-03-01,"[-, -600, -525, -]","[-, +400, +425, -]"
2,San Antonio,Milwaukee,2008-03-01,"[-290, -290, -295, -]","[+245, +240, +245, -]"
3,Philadelphia,Phoenix,2008-03-01,"[-, +360, +460, -]","[-, -560, -560, -]"
4,Detroit,L.A. Clippers,2008-03-01,"[-370, -350, -350, -]","[+285, +280, +290, -]"
5,Phoenix,Indiana,2016-01-12,"[-, +675, +750, +705]","[-, -900, -1100, -955]"
6,Boston,New York,2016-01-12,"[-, -120, -120, -120]","[-, +100, +100, +100]"
7,San Antonio,Detroit,2016-01-12,"[-310, -300, -295, -320]","[+255, +250, +235, +260]"
8,Houston,Memphis,2016-01-12,"[-, -130, -130, -135]","[-, +110, +110, +115]"
9,Chicago,Milwaukee,2016-01-12,"[-160, -155, -150, -155]","[+140, +135, +130, +135]"
10,Oklahoma City,Minnesota,2016-01-12,"[-, -600, -625, -655]","[-, +475, +475, +505]"
11,Cleveland,Dallas,2016-01-12,"[-245, -240, -230, -240]","[+205, +200, +190, +200]"
12,New Orleans,L.A. Lakers,2016-01-12,"[-, -130, -130, -130]","[-, +110, +110, +110]"
13,New Orleans,Brooklyn,2016-04-03,"[+225, +125, +120, +125]","[-265, -145, -140, -145]"
14,Dallas,Minnesota,2016-04-03,"[-150, -150, -150, -145]","[+130, +130, +130, +125]"
15,Charlotte,Cleveland,2016-04-03,"[+250, +245, +230, +250]","[-300, -290, -290, -310]"
16,Oklahoma City,Houston,2016-04-03,"[-170, -155, -165, -160]","[+150, +135, +145, +140]"
17,Washington,L.A. Clippers,2016-04-03,"[+230, +225, +215, +230]","[-270, -265, -265, -280]"
18,Utah,Phoenix,2016-04-03,"[-500, -470, -470, -530]","[+350, +395, +375, +405]"
19,Memphis,Orlando,2016-04-03,"[+165, +162, +175, +165]","[-190, -182, -205, -190]"
20,Chicago,Milwaukee,2016-04-03,"[-, -105, +100, +100]","[-, -115, -120, -120]"
21,Indiana,New York,2016-04-03,"[-300, -290, -290, -315]","[+250, +245, +230, +255]"
22,Portland,Golden State,2016-04-03,"[-, +600, +575, +665]","[-, -800, -800, -915]"
23,Boston,L.A. Lakers,2016-04-03,"[-500, -475, -475, -535]","[+350, +400, +380, +410]"
24,Atlanta,Philadelphia,2016-10-29,"[-370, -370, -385, -370]","[+285, +310, +315, +300]"
25,Boston,Charlotte,2016-10-29,"[-145, -140, -145, -145]","[+125, +120, +125, +125]"
26,Orlando,Cleveland,2016-10-29,"[+500, +535, +525, +525]","[-800, -700, -725, -675]"
27,Memphis,New York,2016-10-29,"[+135, +135, +135, +135]","[-155, -155, -155, -155]"
28,Brooklyn,Milwaukee,2016-10-29,"[+280, +290, +300, +285]","[-360, -350, -365, -355]"
29,Indiana,Chicago,2016-10-29,"[+145, +140, +145, +140]","[-165, -160, -165, -160]"
30,New Orleans,San Antonio,2016-10-29,"[+900, +1075, +1000, +970]","[-1900, -1700, -2000, -1370]"
31,Portland,Denver,2016-10-29,"[-125, -120, -130, -120]","[+105, +100, +110, +100]"
32,Minnesota,Sacramento,2016-10-29,"[-110, -108, -120, -105]","[-110, -112, +100, -115]"

In [121]:
current_moneyline_df = pd.read_csv('../data/all_moneylines_sbr.csv')

updated_moneylines = pd.concat([current_moneyline_df, moneylines_to_add_df])

updated_moneylines = updated_moneylines.drop_duplicates(['away_team', 'home_team', 'game_date'], keep='last')
updated_moneylines['game_date'] = pd.to_datetime(updated_moneylines['game_date'])
updated_moneylines = updated_moneylines.sort_values('game_date')
updated_moneylines

,away_team,home_team,game_date,away_moneyline,home_moneyline
0,Chicago,Miami,2006-10-31,"['+180', '-', '+180', '-']","['-220', '-', '-210', '-']"
1,Phoenix,L.A. Lakers,2006-10-31,"['-380', '-', '-350', '-']","['+290', '-', '+290', '-']"
13,Sacramento,Minnesota,2006-11-01,"['+190', '-', '+180', '-']","['-230', '-', '-210', '-']"
12,Atlanta,Philadelphia,2006-11-01,"['+200', '-', '+200', '-']","['-240', '-', '-240', '-']"
11,New Orleans,Boston,2006-11-01,"['+140', '-', '+140', '-']","['-160', '-', '-160', '-']"
...,...,...,...,...,...
18239,Detroit,Toronto,2021-03-03,"['+255', '+260', '+267', '+265']","['-310', '-310', '-331', '-325']"
18240,Utah,Philadelphia,2021-03-03,"['-155', '-165', '-145', '-150']","['+135', '+145', '+125', '+130']"
18241,Indiana,Cleveland,2021-03-03,"['-270', '-215', '-250', '-260']","['+220', '+185', '+207', '+210']"
18243,L.A. Lakers,Sacramento,2021-03-03,"['+165', '+158', '+163', '+160']","['-190', '-178', '-190', '-185']"
18235,Oklahoma City,Dallas,2021-03-03,"['+170', '+185', '+170', '+175']","['-200', '-215', '-200', '-205']"

In [122]:
for col in updated_moneylines.columns[3:]:
    updated_moneylines[col] = updated_moneylines[col].astype(str)
    updated_moneylines[col] = updated_moneylines[col].str.replace("[", "")
    updated_moneylines[col] = updated_moneylines[col].str.replace("]", "")
    updated_moneylines[col] = updated_moneylines[col].str.strip()
    
updated_moneylines

,away_team,home_team,game_date,away_moneyline,home_moneyline
0,Chicago,Miami,2006-10-31,"'+180', '-', '+180', '-'","'-220', '-', '-210', '-'"
1,Phoenix,L.A. Lakers,2006-10-31,"'-380', '-', '-350', '-'","'+290', '-', '+290', '-'"
13,Sacramento,Minnesota,2006-11-01,"'+190', '-', '+180', '-'","'-230', '-', '-210', '-'"
12,Atlanta,Philadelphia,2006-11-01,"'+200', '-', '+200', '-'","'-240', '-', '-240', '-'"
11,New Orleans,Boston,2006-11-01,"'+140', '-', '+140', '-'","'-160', '-', '-160', '-'"
...,...,...,...,...,...
18239,Detroit,Toronto,2021-03-03,"'+255', '+260', '+267', '+265'","'-310', '-310', '-331', '-325'"
18240,Utah,Philadelphia,2021-03-03,"'-155', '-165', '-145', '-150'","'+135', '+145', '+125', '+130'"
18241,Indiana,Cleveland,2021-03-03,"'-270', '-215', '-250', '-260'","'+220', '+185', '+207', '+210'"
18243,L.A. Lakers,Sacramento,2021-03-03,"'+165', '+158', '+163', '+160'","'-190', '-178', '-190', '-185'"
18235,Oklahoma City,Dallas,2021-03-03,"'+170', '+185', '+170', '+175'","'-200', '-215', '-200', '-205'"

In [123]:
updated_moneylines.to_csv("../data/all_moneylines_sbr.csv", index=False)

### Update Spreads

In [113]:
current_spread_df = pd.read_csv('../data/all_spreads_sbr.csv')
current_spread_df.loc[(current_spread_df['away_spread'] == '') | (current_spread_df['home_spread'] == '')]

Empty DataFrame
Columns: [away_team, home_team, game_date, away_scoreboard, home_scoreboard, away_spread, home_spread]
Index: []

In [52]:
current_spread_df = pd.read_csv('../data/all_spreads_sbr.csv')
missing_dates = current_spread_df.loc[(current_spread_df['away_spread'] == '[]') | (current_spread_df['home_spread'] == '[]'), 'game_date'].unique()
len(missing_dates)

21

In [42]:
missing_dates

array(['2006-11-01', '2006-11-06', '2006-11-15', ..., '2021-02-26',
       '2021-02-27', '2021-03-01'], dtype=object)

In [43]:
# Get Spreads

gm_date = []
away_teams = []
home_teams = []
away_scoreboards = []
home_scoreboards = []
away_spreads = []
home_spreads = []

for date in tqdm(missing_dates, desc='progress'):
    web = 'https://www.sportsbookreview.com/betting-odds/nba-basketball/pointspread/?date={}'.format(date)
    path = '../chromedriver.exe'
    driver = webdriver.Chrome(path)
    driver.get(web)
    sleep(random.randint(1,2))


    single_row_events = driver.find_elements_by_class_name('eventMarketGridContainer-3QipG')

    num_postponed_events = len(driver.find_elements_by_class_name('eventStatus-3EHqw'))

    num_listed_events = len(single_row_events)
    cutoff = num_listed_events - num_postponed_events

    for event in single_row_events[:cutoff]:

        away_team = event.find_elements_by_class_name('participantBox-3ar9Y')[0].text
        home_team = event.find_elements_by_class_name('participantBox-3ar9Y')[1].text
        away_teams.append(away_team)
        home_teams.append(home_team)
        gm_date.append(date)


        scoreboard = event.find_elements_by_class_name('scoreboard-1TXQV')

        home_score = []
        away_score = []

        for score in scoreboard:
            quarters = score.find_elements_by_class_name('scoreboardColumn-2OtpR')
            for i in range(len(quarters)):
                scores = quarters[i].text.split('\n')
                away_score.append(scores[0])
                home_score.append(scores[1])
            away_scoreboards.append(away_score)
            home_scoreboards.append(home_score)
            
            
        if len(away_scoreboards) != len(away_teams):
            num_to_add = len(away_teams) - len(away_scoreboards)
            for i in range(num_to_add):
                away_scoreboards.append([])
                home_scoreboards.append([])
            
        
        spreads = event.find_elements_by_class_name('pointer-2j4Dk')
        away_lines = []
        home_lines = []
        for i in range(len(spreads)):    
            if i % 2 == 0:
                away_lines.append(spreads[i].text)
            else:
                home_lines.append(spreads[i].text)
        away_spreads.append(away_lines)
        home_spreads.append(home_lines)
        
        if len(away_spreads) != len(away_teams):
            num_to_add = len(away_teams) - len(away_spreads)
            for i in range(num_to_add):
                away_scoreboards.append([])
                home_scoreboards.append([])
            
        
    driver.quit()

spreads_to_add_df = pd.DataFrame({'away_team':away_teams,
                  'home_team':home_teams,
                   'game_date':gm_date,
                  'away_scoreboard':away_scoreboards,
                  'home_scoreboard':home_scoreboards,
                  'away_spreads':away_spreads,
                  'home_spreads':home_spreads})

spreads_to_add_df

progress: 100%|██████████| 1193/1193 [3:45:11<00:00, 11.33s/it]

,away_team,home_team,game_date,away_scoreboard,home_scoreboard,away_spreads,home_spreads
0,Indiana,Charlotte,2006-11-01,"[23, 26, 28, 29, 106]","[27, 23, 23, 26, 99]","[-1-110, -, -1-110, -]","[+1-110, -, +1-110, -]"
1,Chicago,Orlando,2006-11-01,"[20, 25, 25, 24, 94]","[32, 31, 23, 23, 109]","[-2-110, -, -1-110, -]","[+2-110, -, +1-110, -]"
2,Atlanta,Philadelphia,2006-11-01,"[14, 21, 23, 17, 75]","[29, 20, 24, 15, 88]","[+6-115, -, +5½-110, -]","[-6-105, -, -5½-110, -]"
3,New Orleans,Boston,2006-11-01,"[26, 28, 21, 16, 91]","[16, 25, 24, 22, 87]","[+3½-110, -, +3-110, -]","[-3½-110, -, -3-110, -]"
4,Toronto,Brooklyn,2006-11-01,"[27, 22, 21, 22, 92]","[28, 25, 21, 28, 102]","[+7-110, -, +7½-110, -]","[-7-110, -, -7½-110, -]"
...,...,...,...,...,...,...,...
9557,Utah,New Orleans,2021-03-01,"[23, 41, 24, 36, 124]","[26, 33, 40, 30, 129]","[-7-110, -7-109, -6½-110, -7-108]","[+7-110, +7-111, +6½-110, +7-108]"
9558,Denver,Chicago,2021-03-01,"[37, 25, 27, 29, 118]","[25, 30, 32, 25, 112]","[-4½-110, -4½-104, -4½-105, -4½-108]","[+4½-110, +4½-116, +4½-115, +4½-108]"
9559,Brooklyn,San Antonio,2021-03-01,"[27, 30, 24, 27, 16, 124]","[21, 33, 27, 27, 5, 113]","[+7½-110, -4½-105, -4½-109, -4-108]","[-7½-110, +4½-115, +4½-111, +4-108]"
9560,Cleveland,Houston,2021-03-01,"[34, 17, 23, 27, 101]","[29, 21, 20, 20, 90]","[+2½-105, +2½-105, +3-105, +3-108]","[-2½-115, -2½-115, -3-115, -3-108]"
9561,Charlotte,Portland,2021-03-01,"[33, 26, 24, 28, 111]","[27, 32, 33, 31, 123]","[+8-110, +8-105, +8½-110, +8-108]","[-8-110, -8-115, -8½-110, -8-108]"

In [70]:
current_spread_df = pd.read_csv('../data/all_spreads_sbr.csv')
current_spread_df.loc[current_spread_df['away_spread'] == '[]']

,away_team,home_team,game_date,away_scoreboard,home_scoreboard,away_spread,home_spread
9571,Washington,Philadelphia,2014-03-01,"['41', '33', '23', '25', '122']","['28', '34', '21', '20', '103']",[],[]
9572,Orlando,Miami,2014-03-01,"['30', '23', '20', '25', '98']","['32', '29', '28', '23', '112']",[],[]
9573,Detroit,Houston,2014-03-01,"['20', '26', '34', '30', '110']","['41', '28', '26', '23', '118']",[],[]
9574,Indiana,Boston,2014-03-01,"['28', '27', '21', '26', '102']","['27', '21', '30', '19', '97']",[],[]
9575,Brooklyn,Milwaukee,2014-03-01,"['31', '24', '22', '30', '107']","['29', '24', '19', '26', '98']",[],[]
...,...,...,...,...,...,...,...
17751,Boston,Indiana,2020-12-29,"['31', '27', '25', '33', '116']","['26', '31', '37', '17', '111']",[],[]
17752,Chicago,Washington,2020-12-29,"['31', '21', '31', '32', '115']","['26', '20', '27', '34', '107']",[],[]
17920,Orlando,Indiana,2021-01-22,"['28', '32', '27', '21', '10', '118']","['37', '25', '26', '20', '12', '120']",[],[]
17926,Chicago,Charlotte,2021-01-22,"['30', '31', '34', '28', '123']","['29', '24', '30', '27', '110']",[],[]
17927,Houston,Detroit,2021-01-22,"['34', '21', '22', '26', '103']","['21', '26', '34', '21', '102']",[],[]

In [105]:
updated_spreads_df = pd.concat([current_spread_df, spreads_to_add_df])

updated_spreads_df = updated_spreads_df.drop_duplicates(['away_team', 'home_team', 'game_date'], keep='last')
updated_spreads_df['game_date'] = pd.to_datetime(updated_spreads_df['game_date'])
updated_spreads_df = updated_spreads_df.sort_values('game_date')
# updated_spreads_df.loc[(updated_spreads_df['home_spread'] == '[]')
#                       | (updated_spreads_df['away_spread'] == '[]')]
updated_spreads_df = updated_spreads_df.reset_index(drop=True)

In [106]:
updated_spreads_df.loc[0, 'home_spread']

"['-4½-110', '-', '-4½-110', '-']"

In [107]:
for col in updated_spreads_df.columns[3:]:
    updated_spreads_df[col] = updated_spreads_df[col].astype(str)
    updated_spreads_df[col] = updated_spreads_df[col].str.replace("[", "")
    updated_spreads_df[col] = updated_spreads_df[col].str.replace("]", "")
    updated_spreads_df[col] = updated_spreads_df[col].str.strip()

updated_spreads_df

,away_team,home_team,game_date,away_scoreboard,home_scoreboard,away_spread,home_spread
0,Chicago,Miami,2006-10-31,"'22', '37', '21', '28', '108'","'16', '14', '21', '15', '66'","'+4½-110', '-', '+4½-110', '-'","'-4½-110', '-', '-4½-110', '-'"
1,Phoenix,L.A. Lakers,2006-10-31,"'41', '17', '21', '27', '106'","'26', '27', '34', '27', '114'","'-8½-110', '-', '-8-110', '-'","'+8½-110', '-', '+8-110', '-'"
2,Atlanta,Philadelphia,2006-11-01,"'14', '21', '23', '17', '75'","'29', '20', '24', '15', '88'","'+6-115', '-', '+5½-110', '-'","'-6-105', '-', '-5½-110', '-'"
3,New Orleans,Boston,2006-11-01,"'26', '28', '21', '16', '91'","'16', '25', '24', '22', '87'","'+3½-110', '-', '+3-110', '-'","'-3½-110', '-', '-3-110', '-'"
4,Toronto,Brooklyn,2006-11-01,"'27', '22', '21', '22', '92'","'28', '25', '21', '28', '102'","'+7-110', '-', '+7½-110', '-'","'-7-110', '-', '-7½-110', '-'"
...,...,...,...,...,...,...,...
18225,Golden State,Portland,2021-03-03,"'29', '27', '24', '26', '106'","'28', '27', '27', '26', '108'","'-5½-120', '-1-115', '-1-115', '-1-108'","'+5½-120', '+1-105', '+1-105', '+1-108'"
18226,Chicago,New Orleans,2021-03-03,"'26', '38', '32', '32', '128'","'25', '20', '34', '45', '124'","'+6-115', '+6-110', '+6-110', '+6-108'","'-6-105', '-6-110', '-6-110', '-6-108'"
18227,Oklahoma City,Dallas,2021-03-03,"'23', '19', '19', '17', '78'","'25', '24', '26', '12', '87'","'+5½-115', '+5½-110', '+5-110', '+5-108'","'-5½-105', '-5½-110', '-5-110', '-5-108'"
18228,Charlotte,Minnesota,2021-03-03,"'36', '26', '36', '37', '135'","'33', '23', '20', '26', '102'","'-3-115', '-2½-105', '-2-110', '-2½-108'","'+3-105', '+2½-115', '+2-110', '+2½-108'"
18229,Atlanta,Orlando,2021-03-03,"'27', '15', '36', '37', '115'","'39', '22', '29', '22', '112'","'-3-105', '-3-107', '-2½-110', '-2½-108'","'+3-115', '+3-113', '+2½-110', '+2½-108'"

In [108]:
updated_spreads_df.to_csv("../data/all_spreads_sbr.csv", index=False)